*{
    margin: 0;
    padding: 0;
}
.navigation{
    background: #1b3e85;
    text-align: center;
}
.navigation-link{
    color:white;
    text-decoration: none;
    font-family: "Montserrat Light", sans-serif;
    display: inline-block;
    vertical-align: middle;
}
.green-btn{
    background: mediumaquamarine;
    padding:10px 15px;
    border-radius: 5px;
}
.navigation-img{
    height: 40px;
}
.slogan{
    background: url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg") no-repeat;
    background-size: cover;
    padding: 300px 0 100px;
    text-align: center;
}
.slogan-btn{
    display: inline-block;
    text-decoration: none;
}
.slogan-text{
    color:white;
    font-size:3.5em;
    
}